*{
    margin: 0; padding: 0; box-sizing: border-box;
}

.main{
    margin: 0; padding: 0; overflow-x: hidden;
}

.up-container{
    margin: 0 auto;
}

.up-container .contact-info{
    display: flex; font-family: 'Manrope', sans-serif; font-weight: 500; color: #4F4F4F; font-size: 16px; line-height: 100%; letter-spacing: 0; padding-left: 96px; margin: 20px 0;
}

.up-container .contact-info .up-space{
    margin: 0 24px; align-content: center;
}

.up-container .contact-info .contact-details{
    display: flex; gap: 10px;
}

.up-container .contact-info .contact-details p{
    align-content: center;
}

.container{
    margin: 0 auto; max-width: 100%; padding: 0;
}

.container .nav-size{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.1) 70%), url(/images/home_bg.jpg); background-size: cover; background-position: center;
}

.container .nav-size .home .nav{
    display: flex; justify-content: space-between; padding: 20px 96px; 
}

.container .nav-size .home .nav .navbar-nav{
    gap: 32px;
}

.container .nav-size .home .nav .navbar-nav .nav-item{
    font-family: 'Manrope', sans-serif; font-weight: 500; color: #4F4F4F; font-size: 16px; line-height: 100%; letter-spacing: 0; color: rgba(255, 255, 255, 1); 
}

.container .nav-size .home .nav .navbar-nav .nav-item:hover{
    color: rgba(29, 128, 176, 1);
}

.container .nav-size .home .nav .navbar-nav .nav-item .show{
    color: rgba(29, 128, 176, 1);
}

.container .nav-size .home .nav .navbar-nav .nav-item .dropdown-menu{
    background-color: transparent;
}
 
.container .nav-size .home .nav .navbar-nav .nav-item .dropdown-menu .dropdown-item{
    color: rgba(255, 255, 255, 1);
}

.container .nav-size .home .nav .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover{
    color: rgba(29, 128, 176, 1); background-color: rgba(255, 255, 255, 1);
}

.container .nav-size .home .nav .navbar-nav .nav-siz{
    padding: 60px 0;
}

.container .nav-size .home .nav .navbar-nav .nav-si{
    padding: 44px 0;
}

.container .nav-size .home .nav .navbar-nav .nav-item .nav-btn{
    padding: 16px 24px; background-color: rgba(29, 128, 176, 1); border-style: none; font-family: 'Manrope', sans-serif; font-weight: 500; font-size: 16px; line-height: 100%; letter-spacing: 0; color: rgba(255, 255, 255, 1);
}

.container .nav-size .home .nav .navbar-nav .nav-item .nav-btn:hover{
    color: rgba(29, 128, 176, 1); background-color: rgba(255, 255, 255, 1);
}

.container .nav-size .home .main-content{
    padding: 103px 974px 163px 96px; 
}

.container .nav-size .home .main-content h1{
    font-family: 'Manrope', sans-serif; font-weight: 500; font-size: 86px; line-height: 1.291; letter-spacing: 0; color: rgba(255, 255, 255, 1);  padding-bottom: 24px; margin: 0;
}

.container .nav-size .home .main-content h1 span{
    font-family: 'Manrope', sans-serif; font-weight: 800; font-size: 86px; line-height: 100%; letter-spacing: 0; color: rgba(255, 255, 255, 1); word-spacing: 9px; padding-top: 18px;
} 

.container .nav-size .home .main-content p{
    font-family: 'Manrope', sans-serif; font-weight: 400; font-size: 20px; line-height: 36px; letter-spacing: 0; color: rgba(255, 255, 255, 1); padding-bottom: 44px;
}

.container .nav-size .home .main-content button{
    font-family: 'Manrope', sans-serif; font-weight: 500; font-size: 16px; line-height: 100%; letter-spacing: 0;   border-style: none; background-color: rgba(29, 128, 176, 1); color: rgba(255, 255, 255, 1); padding: 16px 24px; background-color: rgba(29, 128, 176, 1); border-radius: 0;
}

.container .nav-size .home .main-content button:hover{
    color: rgba(29, 128, 176, 1); background-color: rgba(255, 255, 255, 1);
}

.container-wh{
    margin: 0 auto;
}

.container-wh .who{
    display: flex; gap: 64px; padding: 96px; background-color: rgba(255, 255, 255, 1);
} 

.container-wh .who .wh-img{
    display: flex; gap: 40px;
}

.container-wh .who .wh-img .ip1{
    /* top: 100px; */ padding-top: 100px; padding-bottom: 100px;
}

.container-wh .who .wh-img .ip2 .blue-box .aero{
    margin: 32px 32px 12px 328px; 
}

.container-wh .who .wh-img .ip2 .blue-box{
    background-color: rgba(29, 128, 176, 1); color: rgba(255, 255, 255, 1); display: flex; flex-direction: column; gap: 65px;
} 

.container-wh .who .wh-img .ip2 .blue-box .box-content{
    margin: 8px 24px 24px 24px; font-family: 'Manrope', sans-serif; letter-spacing: 0; padding: 0; display: flex; flex-direction: column; gap: 8px;
}

.container-wh .who .wh-img .ip2 .blue-box .box-content h5{
    font-weight: 600; font-size: 30px; line-height: 100%; margin-bottom: 0px;
}

.container-wh .who .wh-img .ip2 .blue-box .box-content p{
    font-weight: 400; font-size: 16px; line-height: 26px; margin-bottom: 0px;
}

.container-wh .who .wh-img .ip2{
    display: flex; flex-direction: column; gap: 40px;
}

.container-wh .who .wh-content{
    display: flex; gap: 44px; flex-direction: column; font-family: 'Manrope', sans-serif; letter-spacing: 0; padding: 47px 0px 3px 0px;
}

.container-wh .who .wh-content .main-cont h2{
    font-weight: 500; font-size: 54px; line-height: 100%; margin-bottom: 0px;
}

.container-wh .who .wh-content .main-cont h2 span{
    font-weight: 700; font-size: 54px; line-height: 100%; color: rgba(29, 128, 176, 1);
}

.container-wh .who .wh-content .main-cont p{
    font-weight: 400; font-size: 20px; line-height: 36px; padding-top: 24px; margin-bottom: 0px;
}

.container-wh .who .wh-content .wh-cont h5{
    font-weight: 700; font-size: 24px; line-height: 36px; color: rgba(0, 0, 0, 1); margin-bottom: 0px;
}    

.container-wh .who .wh-content .wh-cont ul li{
    font-weight: 400px; font-size: 20px; line-height: 36px; color: rgba(77, 77, 77, 1); margin-bottom: 0px;
}

.container-wh .who .wh-content .wh-cont ul{
    margin: 0px;
}

.s-container{
    max-width: 100%; margin: 0 auto;
}

.s-container .services{
    background-color: rgba(245, 245, 245, 1); padding: 96px 200px; display: flex; flex-direction: column; gap: 64px;
}

.s-container .services .main-serv{
    text-align: center; 
}

.s-container .services .main-serv h2{
    font-family: 'Manrope', sans-serif; letter-spacing: 0%; font-weight: 500px; font-size: 54px; line-height: 100%; margin: 0px;
}

.s-container .services .main-serv h2 span{
    font-family: 'Manrope', sans-serif; letter-spacing: 0%; font-weight: bold; font-size: 54px; line-height: 100%; color: rgba(29, 128, 176, 1);
}

.s-container .services .main-serv p{
    font-family: 'Manrope', sans-serif; letter-spacing: 0%; font-weight: 400px; font-size: 20px; line-height: 36px; padding-top: 16px;
}

.s-container .services .text-serv .ts-box .hco{
    font-family: 'Manrope', sans-serif; letter-spacing: 0%; font-weight: bold; font-size: 20px; line-height: 36px; padding-top: 16px; padding-bottom: 4px;
}

.s-container .services .text-serv .ts-box p{
    font-family: 'Manrope', sans-serif; letter-spacing: 0%; font-weight: 400px; font-size: 16px; line-height: 24px; padding-bottom: 16px; color: rgba(77, 77, 77, 1);
}

.s-container .services .text-serv .ts-box button{
    border-style: none; color: rgba(29, 128, 176, 1); background-color: transparent;
}

.s-container .services .text-serv .ts-box button:hover{
    font-weight: 500;
}

.s-container .services .text-serv{
    display: flex; text-align: center; gap: 32px; font-family: 'Manrope', sans-serif; letter-spacing: 0;
}

.s-container .services .text-serv .ts-box{
    width: 100%;
}

.s-container .services .text-serv .ts-box h5,p{
    margin: 0px;
}

.w-container{
    max-width: 100%; margin: 0 auto;
}

.w-container .why{
    display: flex; gap: 64px; padding: 96px; font-family: 'Manrope', sans-serif; letter-spacing: 0; background-color: rgba(255, 255, 255, 1);
}

.w-container .why .t-why{
    display: flex; flex-direction: column; gap: 32px; padding: 55px 0 0 0;
}

.w-container .why .t-why .tw-head h2{
    font-weight: 500px; font-size: 54px; line-height: 100%; 
}

.w-container .why .t-why .tw-head h2 span{
    font-weight: bold; font-size: 54px; line-height: 100%; color: rgba(29, 128, 176, 1); 
}

.w-container .why .t-why .tw-head p{
    font-weight: 400px; font-size: 20px; line-height: 36px; padding-top: 24px; color: rgba(77, 77, 77, 1);
}

.w-container .why .t-why .tw-body .accordion-item{
    border-style: none;
}

.w-container .why .t-why .tw-body .accordion-item .accordion-header .accordion-button{
    box-shadow: none; background-color: transparent; color: rgba(0, 0, 0, 1); padding-left: 0px;
}

.w-container .why .t-why .tw-body .accordion-item h2{
    font-family: 'Manrope', sans-serif; letter-spacing: 0; font-weight: bold; font-size: 20px; line-height: 30px; color: rgba(0, 0, 0, 1);
}

.w-container .why .t-why .tw-body .accordion-item .collapse .accordion-body{
    font-weight: 400px; font-size: 20px; line-height: 30px; color: rgba(77, 77, 77, 1); padding: 0px;
}

.w-container .why .t-why .tw-end button{
    background-color: rgba(29, 128, 176, 1); padding: 16px 24px; border-style: none; color: rgba(255, 255, 255, 1);
}

.w-container .why .t-why .tw-end button:hover{
    background-color: rgba(255, 255, 255, 1); color: rgba(29, 128, 176, 1); border: 2px solid rgba(29, 128, 176, 1); padding: 16px 24px;
}

.w-container .why .i-why .i-back{
    display: flex; gap: 50px;
}

.w-container .why .i-why .i-log{
    height: 100%; margin-top: 100px; margin-left: 45px;
}

.w-container .why .i-why .ip-col{
    margin-top: -300px;
}

.l-container{
    max-width: 100%; margin: 0 auto;
}

.l-container .cent-cont{
    padding: 96px 400px; text-align: center; background-color: rgba(29, 128, 176, 1); color: rgba(255, 255, 255, 1);
}

.l-container .cent-cont .info-cont h2{
    margin: 0; font-family: 'Manrope', sans-serif; letter-spacing: 0; font-weight: 500; font-size: 54px; line-height: 100%;
}

.l-container .cent-cont .info-cont h2 span{
    font-family: 'Manrope', sans-serif; letter-spacing: 0; font-weight: bold; font-size: 54px; line-height: 100%;
}

.l-container .cent-cont .info-cont p{
    font-family: 'Manrope', sans-serif; letter-spacing: 0; font-weight: 400; font-size: 20px; line-height: 36px; padding-top: 16px; padding-bottom: 44px;
}

.l-container .cent-cont .btn-cont button{
    padding: 16px 44px; margin-left: 32px;
}

.l-container .cent-cont .btn-cont .cons{
    color: rgba(29, 128, 176, 1); border-style: solid; border-color: rgba(255, 255, 255, 1); background-color: rgba(255, 255, 255, 1);
}

.l-container .cent-cont .btn-cont .cons:hover{
    color: rgba(255, 255, 255, 1); background-color: transparent; border-color: rgba(255, 255, 255, 1); border-style: solid;
}

.l-container .cent-cont .btn-cont .cont{
    color: rgba(255, 255, 255, 1); background-color: transparent; border-color: rgba(255, 255, 255, 1); border-style: solid; 
}

.l-container .cent-cont .btn-cont .cont:hover{
    color: rgba(29, 128, 176, 1); border-style: solid; border-color: rgba(255, 255, 255, 1); background-color: rgba(255, 255, 255, 1);
}

.f-container{
    max-width: 100%; margin: 0 auto;
}

.f-container .f-info-cont{
    background-color: rgba(34, 34, 34, 1); 
}

.f-container .f-info-cont .fi-up-cont{
    display: flex; gap: 104px; margin: 0px 96px 85px 96px; padding-top: 64px;
}

.f-container .f-info-cont .fi-up-cont .fl-container .f-log{
    margin-bottom: 44px;
}

.f-container .f-info-cont .fi-up-cont .fl-container .fl-social{
    display: flex; gap: 20px; margin-bottom: 44px;
}

.f-container .f-info-cont .fi-up-cont .fl-container .fl-social:hover{
    cursor: pointer;
}

.f-container .f-info-cont .fi-up-cont .fl-container .ff-line{
    margin-bottom: 16px;
}

.f-container .f-info-cont .fi-up-cont .fl-container h6{
    color: rgba(255, 255, 255, 1); font-family: 'Manrope', sans-serif; letter-spacing: 0; font-weight: 700; font-size: 16px; line-height: 100%; margin: 0;
}

.f-container .f-info-cont .fi-up-cont .fl-container .fl-det{
    padding-top: 24px;
}

.f-container .f-info-cont .fi-up-cont .fl-container .fl-det .det-1{
    color: rgba(255, 255, 255, 1); display: flex; gap: 10px; padding-bottom: 24px; font-family: 'Manrope', sans-serif; letter-spacing: 0; font-weight: 500; font-size: 16px; line-height: 1.4;
}

.f-container .f-info-cont .fi-up-cont .fl-container .fl-det .det-1 p:hover{
    cursor: pointer; color: rgba(29, 128, 176, 1);
}

.f-container .f-info-cont .fi-up-cont .fl-container .fl-det .det-1 img{
    color: rgba(255, 255, 255, 1); display: flex; gap: 10px;
}

.f-container .f-info-cont .fi-up-cont .fl-container .fl-det .det-2{
    color: rgba(255, 255, 255, 1); display: flex; gap: 10px; font-family: 'Manrope', sans-serif; letter-spacing: 0; font-weight: 500; font-size: 16px; line-height: 1.4;
}

.f-container .f-info-cont .fi-up-cont .fl-container .fl-det .det-2:hover{
    cursor: pointer; color: rgba(29, 128, 176, 1);
}

.f-container .f-info-cont .fi-up-cont .fl-container .fl-det .det-2 img{
    color: rgba(255, 255, 255, 1); display: flex; gap: 10px; padding-bottom: 22px;
}

.f-container .f-info-cont .fi-up-cont .fr-container{
    padding-bottom: 7px; display: flex; gap: 48px; color: rgba(255, 255, 255, 1);
}

.f-container .f-info-cont .fi-up-cont .fr-container .frp h6{
    margin: 0; padding-bottom: 16px; font-family: 'Manrope', sans-serif; letter-spacing: 0; font-weight: 700; font-size: 18px; line-height: 24px;
}

.f-container .f-info-cont .fi-up-cont .fr-container .frp img{
    padding-bottom: 24px;
}

.f-container .f-info-cont .fi-up-cont .fr-container .frp .fld-9{
    padding-bottom: 20px; font-family: 'Manrope', sans-serif; letter-spacing: 0; font-weight: 400; font-size: 16px; line-height: 156%;
}

.f-container .f-info-cont .fi-up-cont .fr-container .frp .fld-9:hover{
    color: rgba(29, 128, 176, 1); cursor: pointer;
}

.f-container .f-info-cont .fi-up-cont .fr-container .frl4 img{
    padding-bottom: 32px;
}

.f-container .f-info-cont .fi-up-cont .fr-container .frp p{
    font-family: 'Manrope', sans-serif; letter-spacing: 0; font-weight: 400; font-size: 16px; line-height: 156%;
}

.f-container .f-info-cont .fi-up-cont .fr-container .frp p:last-child{
    font-family: 'Manrope', sans-serif; letter-spacing: 0; font-weight: 400; font-size: 16px; line-height: 156%;
}

.f-container .f-info-cont .fi-up-cont .fr-container .frp p:last-child:hover{
    color: rgba(29, 128, 176, 1); cursor: pointer;
}

.f-foot .f-f{
    display: flex; color: rgba(136, 136, 136, 1); justify-content: space-between; padding: 24px 96px; 
}

.f-foot .f-f .ff-1{
    font-family: 'Manrope', sans-serif; letter-spacing: 0; font-weight: 400; font-size: 16px; line-height: 24px;
}

.f-foot .f-f .ff-1 p span{
    color: rgba(255, 255, 255, 1);
}

.f-foot .f-f .ff-2{
    display: flex; gap: 24px;
}

.f-foot .f-f .ff-2 p a{
    color: rgba(136, 136, 136, 1); text-decoration: none;
}

.f-foot .f-f .ff-2 p a:hover{
    color: rgba(29, 128, 176, 1); text-decoration: underline;
}



@media (max-width: 1870px){
    .f-container .f-info-cont .fi-up-cont .fr-container{
        flex-wrap: wrap; justify-content: space-between;
    }
}


@media (max-width: 1600px){
    .container .nav-size .home .main-content {
        padding-right: 600px;
    }
    .container-wh .who .wh-content .main-cont h2 {
        font-weight: 400;
        font-size: 48px;
    }
    .container-wh .who .wh-content .main-cont h2 span{
        font-weight: 550;
        font-size: 48px;
    }
    .container-wh .who .wh-content .main-cont p{
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
    }
    .container-wh .who .wh-content .wh-cont h5{
        font-weight: 500;
    }
    .container-wh .who .wh-content .wh-cont ul li{
        font-weight: 300;
        line-height: 28px;
    }

    .s-container .services{
        padding: 96px 174px;
    }

    .w-container .why .i-why .i-back{
        gap: 40px;
    }
    .w-container .why .i-why .i-back .i-log{
        margin-top: 72px;
    }
    .w-container .why .i-why .i-back .i-pe{
        max-width: 400px;
    }
    .w-container .why .i-why .ip-col{
        margin-top: -280px;
    }
    .w-container .why .i-why img{
        max-width: 400px;
    }
    .w-container .why .t-why .tw-head h2{
        font-size: 48px; line-height: 98%;
    }
    .w-container .why .t-why .tw-head h2 span{
        font-size: 48px; line-height: 98%;
    }    
    .w-container .why .t-why .tw-head p{
        font-size: 18px; line-height: 28px;
    }

    .w-container .why .t-why .tw-body .accordion-item h2{
        font-size: 18px; line-height: 24px;
    }
    .w-container .why .t-why .tw-body .accordion-item .collapse .accordion-body{
        font-size: 15px; line-height: 21px;
    }
    .w-container .why .t-why .tw-body .accordion-item .accordion-header .accordion-button{
        padding-top: 12px; padding-bottom: 12px;
    }

    .l-container .cent-cont{
        padding: 96px 296px;
    }

    .f-container .f-info-cont .fi-up-cont .fr-container{
        flex-wrap: wrap; justify-content: space-between;
    }
}


@media (max-width: 1400px) {
    .container .nav-size .home .nav img{
        max-width: 280px;
    }

    .container .nav-size .home .nav .navbar-nav .nav-item{
        font-weight: 400; font-size: 12px;
    }

    .container .nav-size .home .nav .navbar-nav .nav-item .nav-btn{
        font-size: 12px;
    }

    .container .nav-size .home .main-content {
        padding-right: 470px;
    }

    .container-wh .who .wh-img{
        gap: 30px; max-width: 670px;
    }

    .container-wh .who .wh-img .ip1 img{
        max-width: 300px;
    }

    .container-wh .who .wh-img .ip2{
        max-width: 300px; gap: 28px;
    }
    .container-wh .who .wh-img .ip2 .blue-box .aero{
        margin-left: 244px;
    }
    .container-wh .who .wh-img .ip2 .blue-box{
        gap: 44px;
    }

    .s-container .services{
        padding: 96px 144px;
    }
    .s-container .services .main-serv h2{
        font-size: 48px; line-height: 99%;
    }
    .s-container .services .main-serv h2 span{
        font-size: 48px; line-height: 99%;
    }
    .s-container .services .main-serv p{
        font-size: 22px; line-height: 30px;
    }
    .s-container .services .text-serv .ts-box .hco{
        font-size: 20px; line-height: 30px;
    }
    .s-container .services .text-serv .ts-box p{
        font-size: 15px; line-height: 19px;
    }

    .w-container .why .i-why .i-back{
        gap: 30px;
    }
    .w-container .why .i-why{
        max-width: 525px;
    }
    .w-container .why .i-why .i-back .i-log{
        margin-top: 75px; max-width: 181px; margin-left: 25px;
    }
    .w-container .why .i-why .i-back .i-pe{
        max-width: 300px; margin-left: -10px;
    }
    .w-container .why .i-why .ip-col{
        margin-top: -150px;
    }
    .w-container .why .i-why img{
        max-width: 300px;
    }


    .l-container .cent-cont{
        padding: 96px 244px;
    }
}


@media (max-width: 1280px){
    .f-container .f-info-cont .fi-up-cont{
        gap: 92px;
    }

    .f-container .f-info-cont .fi-up-cont .fr-container{
        flex-wrap: wrap; gap: 36px;
        /* justify-content: center; */
    }
    .f-container .f-info-cont .fi-up-cont .fr-container .frp img{
        max-width: 202px;
    }
    .f-container .f-info-cont .fi-up-cont .fr-container .frp h6{
        font-size: 16px; line-height: 18px;
    }
    .f-container .f-info-cont .fi-up-cont .fr-container .frp .fld-9{
        font-size: 12px; line-height: 100%; padding-bottom: 16px;
    }
    .f-container .f-info-cont .fi-up-cont .fr-container .frp p:last-child{
        font-size: 12px;
    }

    .f-container .f-info-cont .fi-up-cont .fl-container .f-log{
        max-width: 300px;
    }

    .f-container .f-info-cont .fi-up-cont .fl-container h6{
        font-size: 14px; line-height: 92%;
    }

    .f-container .f-info-cont .fi-up-cont .fl-container .f-log{
        max-width: 211px; margin-bottom: 36px;
    }
    .f-container .f-info-cont .fi-up-cont .fl-container .fl-social{
        gap: 16px; margin-bottom: 36px;
    }
    .f-container .f-info-cont .fi-up-cont .fl-container .fl-social img{
        max-width: 22px;
    }

    .f-container .f-info-cont .fi-up-cont .fl-container .ff-line{
        max-width: 300px;
    }

    .f-container .f-info-cont .fi-up-cont .fl-container .fl-det .det-1{
        font-size: 12px; line-height: 1.1; gap: 8px; padding-bottom: 18px;
    }
    .f-container .f-info-cont .fi-up-cont .fl-container .fl-det .det-1 img{
        max-width: 16px; max-height: 16px;
    }
    .f-container .f-info-cont .fi-up-cont .fl-container .fl-det .det-2{
        font-size: 12px; line-height: 1.1; gap: 8px;
    }
    .f-container .f-info-cont .fi-up-cont .fl-container .fl-det .det-2 img{
        gap: 8px; width: 17px;
    }

    .f-foot .f-f{
        padding: 18px 96px;
    }
    .f-foot .f-f .ff-1{
        font-size: 12px; line-height: 18px;
    }
    .f-foot .f-f .ff-2{
        font-size: 12px; line-height: 18px;
    }
}


@media (max-width: 1200px){
    .container-wh .who .wh-content{
        gap: 36px; 
    }
    .container-wh .who .wh-content .main-cont h2 {
        font-weight: 250;
        font-size: 36px;
    }
    .container-wh .who .wh-content .main-cont h2 span{
        font-weight: 400;
        font-size: 38px;
    }
    .container-wh .who .wh-content .main-cont p{
        font-weight: 250;
        font-size: 15px;
        line-height: 20px;
    }
    .container-wh .who .wh-content .wh-cont h5{
        font-weight: 350;
        font-size: 20px;
        line-height: 28px;
    }
    .container-wh .who .wh-content .wh-cont ul li{
        font-weight: 250;
        font-size: 14px;
        line-height: 18px;
    }
    .container .nav-size .home .main-content {
        padding-right: 400px;
    }

    .container .nav-size .home .main-content h1{
        font-weight: 400; font-size: 70px; line-height: 1.15;
    }

    .container .nav-size .home .main-content h1 span{
        font-weight: 600; font-size: 70px; line-height: 40%;
    }
    
    .container .nav-size .home .main-content p{
        font-weight: 300; font-size: 18px; line-height: 28px;
    }

    .container .nav-size .home .main-content button{
        font-weight: 400; font-size: 14px; line-height: 80%;
    }

    .container-wh .who .wh-img .ip2 .blue-box .box-content{
        margin: 6px 20px 20px 20px;
        gap: 5px;
    }

    .container-wh .who .wh-img .ip2 .blue-box .box-content h4{
        font-weight: 500; font-size: 18px;
    }

    .container-wh .who .wh-img .ip2 .blue-box .box-content p{
        font-weight: 250; font-size: 13px; line-height: 23px;
    }

    .container .nav-size .home .nav img{
        max-width: 250px;
    }

    .container-wh .who .wh-img{
        gap: 25px; max-width: 470px; padding-top: 24px;
    }

    .container-wh .who .wh-img .ip1 img{
        max-width: 220px;
    }

    .container-wh .who .wh-img .ip2{
        max-width: 220px;
        gap: 22px;
    }
    .container-wh .who .wh-img .ip2 .blue-box .aero{
        margin: 20px 20px 8px 178px;
    }
    .container-wh .who .wh-img .ip2 .blue-box{
        gap: 30px;
    }

    .s-container .services{
        padding: 96px 114px;
    }
    .s-container .services .main-serv h2{
        font-size: 44px; line-height: 97%;
    }
    .s-container .services .main-serv h2 span{
        font-size: 44px; line-height: 97%;
    }
    .s-container .services .main-serv p{
        font-size: 18px; line-height: 28px;
    }
    .s-container .services .text-serv .ts-box .hco{
        font-size: 18px; line-height: 28px;
    }
    .s-container .services .text-serv .ts-box p{
        font-size: 13px; line-height: 18px;
    }


    .w-container .why .i-why .i-back{
        gap: 25px;
    }
    .w-container .why .i-why{
        max-width: 475px;
    }
    .w-container .why .i-why .i-back .i-log{
        margin-top: 75px; max-width: 181px; margin-left: 25px;
    }
    .w-container .why .i-why .i-back .i-pe{
        max-width: 244px; margin-left: 0px;
    }
    .w-container .why .i-why .ip-col{
        margin-top: -120px;
    }
    .w-container .why .i-why img{
        max-width: 264px;
    }

    .w-container .why .t-why{
        gap: 28px; padding-top: 40px;
    }
    .w-container .why .t-why .tw-head h2{
        font-size: 38px; line-height: 95%;
    }
    .w-container .why .t-why .tw-head h2 span{
        font-size: 38px; line-height: 95%;
    }    
    .w-container .why .t-why .tw-head p{
        font-size: 15px; line-height: 24px;
    }

    .w-container .why .t-why .tw-body .accordion-item h2{
        font-size: 16px; line-height: 21px;
    }
    .w-container .why .t-why .tw-body .accordion-item .collapse .accordion-body{
        font-size: 12px; line-height: 18px;
    }
    .w-container .why .t-why .tw-body .accordion-item .accordion-header .accordion-button{
        padding-top: 10px; padding-bottom: 10px;
    }
    .w-container .why .t-why .tw-end button{
        padding: 12px 18px;
    }


    .l-container .cent-cont{
        padding: 96px 196px;
    }

    .l-container .cent-cont .info-cont h2{
        font-size: 40px; line-height: 95%;
    }
    .l-container .cent-cont .info-cont h2 span{
        font-size: 40px; line-height: 95%;
    }
    .l-container .cent-cont .info-cont p{
        font-size: 18px; line-height: 28px; padding-top: 15px; padding-bottom: 36px;
    }
    .l-container .cent-cont .btn-cont button{
        padding: 12px 36px;
    }
    .l-container .cent-cont .btn-cont .cons{
        margin-left: 0;
    }
    .l-container .cent-cont .btn-cont .cont{
        margin-left: 24px;
    }
}


@media (max-width: 1024px){
    .up-container .contact-info{
        font-weight: 400; font-size: 12px; margin: 15px 0;
    }


    .container .nav-size .home .nav img{
        max-width: 150px;
    }
    .container .nav-size .home .nav .navbar-nav{
        gap: 24px;
    }
    .container .nav-size .home .nav .navbar-nav .nav-item{
        font-weight: 300; font-size: 9px;
    }
    .container .nav-size .home .nav .navbar-nav .nav-item .nav-btn{
        font-size: 8px;
    }

    .container .nav-size .home .main-content {
        padding-right: 270px;
    }
    .container .nav-size .home .main-content h1{
        font-weight: 350; font-size: 56px; line-height: 1.04; padding-bottom: 18px;
    }
    .container .nav-size .home .main-content h1 span{
        font-weight: 550; font-size: 56px; line-height: 32%;
    }
    .container .nav-size .home .main-content p{
        font-weight: 300; font-size: 15px; line-height: 25px; padding-bottom: 36px;
    }
    .container .nav-size .home .main-content button{
        font-weight: 350; font-size: 11px; line-height: 72%;
    }


    .container-wh .who{
        gap: 48px;
    }
    .container-wh .who .wh-img{
        gap: 20px; max-width: 300px; padding-top: 14px;
    }
    .container-wh .who .wh-img .ip1{
        padding-top: 65px;
    }
    .container-wh .who .wh-img .ip1 img{
        max-width: 140px; 
    }
    .container-wh .who .wh-img .ip2{
        max-width: 140px; gap: 20px;
    }
    .container-wh .who .wh-img .ip2 .blue-box .aero{
        margin: 20px 20px 8px 108px;
    }
    .container-wh .who .wh-img .ip2 .blue-box{
        gap: 18px;
    }
    .container-wh .who .wh-img .ip2 .blue-box .box-content{
        margin: 4.5px 14px 14px 14px;
        gap: 4px;
    }
    .container-wh .who .wh-img .ip2 .blue-box .box-content h4{
        font-weight: 350; font-size: 14px; line-height: 80%;
    }
    .container-wh .who .wh-img .ip2 .blue-box .box-content p{
        font-weight: 200; font-size: 9px; line-height: 10px;
    }

    .container-wh .who .wh-content{
        gap: 20px; padding-top: 24px;
    }
    .container-wh .who .wh-content .main-cont h2 {
        font-weight: 200; font-size: 30px;
    }
    .container-wh .who .wh-content .main-cont h2 span{
        font-weight: 350; font-size: 30px;
    }
    .container-wh .who .wh-content .main-cont p{
        font-weight: 200; font-size: 11px; line-height: 14px; padding-top: 16px;
    }
    .container-wh .who .wh-content .wh-cont h5{
        font-weight: 300; font-size: 12px; line-height: 20px;
    }
    .container-wh .who .wh-content .wh-cont ul li{
        font-weight: 220; font-size: 10px; line-height: 14px;
    }

    .s-container .services{
        padding: 96px 104px; gap: 56px;
    }
    .s-container .services .main-serv h2{
        font-size: 40px; line-height: 95%;
    }
    .s-container .services .main-serv h2 span{
        font-size: 40px; line-height: 95%;
    }
    .s-container .services .main-serv p{
        font-size: 16px; line-height: 25px;
    }
    .s-container .services .text-serv .ts-box .hco{
        font-size: 16px; line-height: 25px;
    }
    .s-container .services .text-serv .ts-box p{
        font-size: 12px; line-height: 16px;
    }


    .w-container .why{
        gap: 36px;
    }
    .w-container .why .i-why .i-back{
        gap: 22px;
    }
    .w-container .why .i-why{
        max-width: 384px; margin-top: 59px;
    }
    .w-container .why .i-why .i-back .i-log{
        margin-top: 45px; max-width: 121px; margin-left: 25px;
    }
    .w-container .why .i-why .i-back .i-pe{
        max-width: 185px; margin-left: 0px;
    }
    .w-container .why .i-why .ip-col{
        margin-top: -105px;
    }
    .w-container .why .i-why img{
        max-width: 185px;
    }

    .w-container .why .t-why{
        gap: 25px; padding-top: 28px;
    }
    .w-container .why .t-why .tw-head h2{
        font-size: 30px; line-height: 90%;
    }
    .w-container .why .t-why .tw-head h2 span{
        font-size: 30px; line-height: 90%;
    }    
    .w-container .why .t-why .tw-head p{
        font-size: 12px; line-height: 18px;
    }

    .w-container .why .t-why .tw-body .accordion-item h2{
        font-size: 5px; line-height: 9px;
    }
    .w-container .why .t-why .tw-body .accordion-item .collapse .accordion-body{
        font-size: 12px; line-height: 16px;
    }
    .w-container .why .t-why .tw-body .accordion-item .accordion-header .accordion-button{
        padding-top: 8px; padding-bottom: 8px; font-size: 12px; line-height: 14px;
    }
    .w-container .why .t-why .tw-end button{
        padding: 10px 14px; font-size: 9px; line-height: 8px;
    }


    .l-container .cent-cont{
        padding: 96px 138px;
    }

    .l-container .cent-cont .info-cont h2{
        font-size: 36px; line-height: 91%;
    }
    .l-container .cent-cont .info-cont h2 span{
        font-size: 36px; line-height: 91%;
    }
    .l-container .cent-cont .info-cont p{
        font-size: 14px; line-height: 22px; padding-top: 11px; padding-bottom: 22px;
    }
    .l-container .cent-cont .btn-cont button{
        padding: 9px 22px; font-size: 11px;
    }
    .l-container .cent-cont .btn-cont .cons{
        margin-left: 0; 
    }
    .l-container .cent-cont .btn-cont .cont{
        margin-left: 16px; 
    }


    .f-container .f-info-cont .fi-up-cont{
        gap: 44px;
    }

    .f-container .f-info-cont .fi-up-cont .fr-container{
        flex-wrap: wrap; gap: 22px;
        /* justify-content: center; */
    }
    .f-container .f-info-cont .fi-up-cont .fr-container .frp img{
        max-width: 161px; padding-bottom: 12px;
    }
    .f-container .f-info-cont .fi-up-cont .fr-container .frp h6{
        font-size: 10px; line-height: 12px; padding-bottom: 10px;
    }
    .f-container .f-info-cont .fi-up-cont .fr-container .frp .fld-9{
        font-size: 9px; line-height: 95%; padding-bottom: 10px;
    }
    .f-container .f-info-cont .fi-up-cont .fr-container .frp p:last-child{
        font-size: 9px;
    }

    .f-container .f-info-cont .fi-up-cont .fl-container .f-log{
        max-width: 265px;
    }

    .f-container .f-info-cont .fi-up-cont .fl-container h6{
        font-size: 10px; line-height: 90%;
    }

    .f-container .f-info-cont .fi-up-cont .fl-container .f-log{
        max-width: 192px; margin-bottom: 28px;
    }
    .f-container .f-info-cont .fi-up-cont .fl-container .fl-social{
        gap: 15px; margin-bottom: 28px;
    }
    .f-container .f-info-cont .fi-up-cont .fl-container .fl-social img{
        max-width: 18px;
    }

    .f-container .f-info-cont .fi-up-cont .fl-container .ff-line{
        max-width: 255px;
    }


    .f-container .f-info-cont .fi-up-cont .fl-container .fl-det{
        padding-top: 18px;
    }
    .f-container .f-info-cont .fi-up-cont .fl-container .fl-det .det-1{
        font-size: 9px; line-height: 0.9; gap: 6px; padding-bottom: 14px;
    }
    .f-container .f-info-cont .fi-up-cont .fl-container .fl-det .det-1 img{
        max-width: 10px; max-height: 10px;
    }
    .f-container .f-info-cont .fi-up-cont .fl-container .fl-det .det-2{
        font-size: 9px; line-height: 0.9; gap: 6px;
    }
    .f-container .f-info-cont .fi-up-cont .fl-container .fl-det .det-2 img{
        gap: 6px; width: 11px;
    }

    .f-foot .f-f{
        padding: 15px 96px;
    }
    .f-foot .f-f .ff-1{
        font-size: 10px; line-height: 14px;
    }
    .f-foot .f-f .ff-2{
        font-size: 10px; line-height: 14px;
    }
}


@media (max-width: 840px){
    .f-container .f-info-cont .fi-up-cont .fr-container{
        flex-wrap: wrap; gap: 15px; justify-content: center;
    }
    .f-container .f-info-cont .fi-up-cont .fr-container .frp h6{
        padding-bottom: 1px;
    }
}


@media (max-width: 768px){
    .up-container .contact-info{
        font-weight: 350; font-size: 9px; margin: 12px 0;
    }
    .up-container .contact-info .contact-details img{
        max-width: 15px; max-height: 15px;
    }
    .up-container .contact-info .up-space{
        margin: 0 12px;
    }

    .container .nav-size .home .nav{
        max-height: 145px;
    }
    .container .nav-size .home .nav .navbar-nav .nav-siz{
        padding: 40px 0;
    }
    .container .nav-size .home .nav .navbar-nav .nav-si{
        padding: 30px 0;
    }
    .container .nav-size .home .nav img{
        max-width: 100px; max-height: 100px;
    }
    .container .nav-size .home .nav .navbar-nav{
        gap: 18px;
    }
    .container .nav-size .home .nav .navbar-nav .nav-item{
        font-weight: 250; font-size: 8px;
    }
    .container .nav-size .home .nav .navbar-nav .nav-item .nav-btn{
        font-size: 7px; padding: 10px 16px;
    }
    .container .nav-size .home .main-content {
        padding-right: 150px; padding-top: 96px; padding-bottom: 96px;
    }
    .container .nav-size .home .main-content h1{
        font-weight: 300; font-size: 44px; line-height: 1; padding-bottom: 12px;
    }
    .container .nav-size .home .main-content h1 span{
        font-weight: 450; font-size: 44px; line-height: 20%;
    }
    .container .nav-size .home .main-content p{
        font-weight: 220; font-size: 9px; line-height: 16px; padding-bottom: 18px;
    }
    .container .nav-size .home .main-content button{
        font-weight: 280; font-size: 8px; line-height: 50%; padding: 14px 20px;
    }

    .container-wh .who{
        gap: 36px; padding-bottom: 6px; padding-top: 58px;
    }
    .container-wh .who .wh-img{
        gap: 16px; max-width: 200px; padding-top: 1px;
    }
    .container-wh .who .wh-img .ip1{
        padding-top: 54px;
    }
    .container-wh .who .wh-img .ip1 img{
        max-width: 85px; 
    }
    .container-wh .who .wh-img .ip2{
        max-width: 85px;
        gap: 15px;
    }
    .container-wh .who .wh-img .ip2 .blue-box .aero{
        margin: 12px 12px 7px 66px;
    }
    .container-wh .who .wh-img .ip2 .blue-box{
        gap: 6px;
    }
    .container-wh .who .wh-img .ip2 .blue-box .box-content{
        margin: 4px 10px 10px 10px;
        gap: 3px;
    }
    .container-wh .who .wh-img .ip2 .blue-box .box-content h4{
        font-weight: 300; font-size: 7px; line-height: 45%;
    }
    .container-wh .who .wh-img .ip2 .blue-box .box-content p{
        font-weight: 180; font-size: 6px; line-height: 7px;
    }

    .container-wh .who .wh-content{
        gap: 10px; padding-top: 0px;
    }
    .container-wh .who .wh-content .main-cont h2 {
        font-weight: 220; font-size: 20px;
    }
    .container-wh .who .wh-content .main-cont h2 span{
        font-weight: 360; font-size: 20px;
    }
    .container-wh .who .wh-content .main-cont p{
        font-weight: 120; font-size: 7px; line-height: 8px; padding-top: 12px;
    }
    .container-wh .who .wh-content .wh-cont h5{
        font-weight: 250; font-size: 9px; line-height: 13px;
    }
    .container-wh .who .wh-content .wh-cont ul li{
        font-weight: 120; font-size: 7px; line-height: 8px;
    }

    .s-container .services{
        padding: 96px 96px; gap: 36px;
    }
    .s-container .services .main-serv h2{
        font-size: 28px; line-height: 88%;
    }
    .s-container .services .main-serv h2 span{
        font-size: 28px; line-height: 88%;
    }
    .s-container .services .main-serv p{
        font-size: 10px; line-height: 15px;
    }
    .s-container .services .text-serv .ts-box .hco{
        font-size: 10px; line-height: 17px; padding-top: 6px;
    }
    .s-container .services .text-serv .ts-box p{
        font-size: 8px; line-height: 10px; padding-bottom: 12px;
    }
    .s-container .services .text-serv{
        gap: 12px;
    }
    .s-container .services .text-serv .ts-box button{
        font-size: 12px; padding-bottom: 10px;
    }
    .s-container .services .text-serv .ts-box img{
        max-width: 65px; max-height: 65px;
    }

    .l-container .cent-cont{
        padding: 96px 102px;
    }

    .l-container .cent-cont .info-cont h2{
        font-size: 28px; line-height: 86%;
    }
    .l-container .cent-cont .info-cont h2 span{
        font-size: 28px; line-height: 86%;
    }
    .l-container .cent-cont .info-cont p{
        font-size: 10px; line-height: 16px; padding-top: 8px; padding-bottom: 16px;
    }
    .l-container .cent-cont .btn-cont button{
        padding: 6px 16px; font-size: 9px;
    }
    .l-container .cent-cont .btn-cont .cons{
        margin-left: 0; 
    }
    .l-container .cent-cont .btn-cont .cont{
        margin-left: 12px; 
    }


    .w-container .why{
        flex-direction: column;
    }

    .w-container .why .i-why .i-back{
        gap: 22px;
    }
    .w-container .why .i-why{
        max-width: 594px;
    }
    .w-container .why .i-why .i-back .i-log{
        margin-top: 55px; max-width: 132px; margin-left: 40px;
    }
    .w-container .why .i-why .i-back .i-pe{
        max-width: 216px; margin-left: 0px;
    }
    .w-container .why .i-why .ip-col{
        margin-top: -125px;
    }
    .w-container .why .i-why img{
        max-width: 216px;
    }



    .f-container .f-info-cont .fi-up-cont{
        gap: 36px;
    }

    .f-container .f-info-cont .fi-up-cont .fr-container{
        flex-wrap: wrap; gap: 16px; justify-content: center;
    }
    .f-container .f-info-cont .fi-up-cont .fr-container .frp img{
        max-width: 143px; padding-bottom: 9px;
    }
    .f-container .f-info-cont .fi-up-cont .fr-container .frp h6{
        font-size: 8px; line-height: 10px; padding-bottom: 9px;
    }
    .f-container .f-info-cont .fi-up-cont .fr-container .frp .fld-9{
        font-size: 7px; line-height: 90%; padding-bottom: 8px;
    }
    .f-container .f-info-cont .fi-up-cont .fr-container .frp p:last-child{
        font-size: 6px;
    }

    .f-container .f-info-cont .fi-up-cont .fl-container .f-log{
        max-width: 197px;
    }

    .f-container .f-info-cont .fi-up-cont .fl-container h6{
        font-size: 8px; line-height: 85%;
    }

    .f-container .f-info-cont .fi-up-cont .fl-container .f-log{
        max-width: 172px; margin-bottom: 22px;
    }
    .f-container .f-info-cont .fi-up-cont .fl-container .fl-social{
        gap: 12px; margin-bottom: 22px;
    }
    .f-container .f-info-cont .fi-up-cont .fl-container .fl-social img{
        max-width: 12px;
    }

    .f-container .f-info-cont .fi-up-cont .fl-container .ff-line{
        max-width: 203px;
    }


    .f-container .f-info-cont .fi-up-cont .fl-container .fl-det{
        padding-top: 15px;
    }
    .f-container .f-info-cont .fi-up-cont .fl-container .fl-det .det-1{
        font-size: 7px; line-height: 1; gap: 4px; padding-bottom: 11px;
    }
    .f-container .f-info-cont .fi-up-cont .fl-container .fl-det .det-1 img{
        max-width: 8px; max-height: 8px;
    }
    .f-container .f-info-cont .fi-up-cont .fl-container .fl-det .det-2{
        font-size: 7px; line-height: 1; gap: 4px;
    }
    .f-container .f-info-cont .fi-up-cont .fl-container .fl-det .det-2 img{
        gap: 4px; width: 8px;
    }

    .f-foot img{
        padding-top: 15px;
    }
    .f-foot .f-f{
        padding: 11px 96px;
    }
    .f-foot .f-f .ff-1{
        font-size: 8px; line-height: 11px;
    }
    .f-foot .f-f .ff-2{
        font-size: 8px; line-height: 11px; gap: 15px;
    }
}


@media (max-width: 600px){
    .up-container .contact-info{
        font-weight: 300; font-size: 7px; margin: 9px 0; padding-left: 68px;
    }
    .up-container .contact-info .contact-details img{
        max-width: 11px; max-height: 11px;
    }
    .up-container .contact-info .up-space{
        margin: 0 10px;
    }

    .container .nav-size .home .nav{
        max-height: 125px; padding: 18px 68px; flex-direction: row; justify-content: space-between;
    }
    .container .nav-size .home .nav img{
        max-width: 80px; max-height: 80px;
    }
    .container .nav-size .home .nav .navbar-nav{
        gap: 6px; flex-direction: row; 
    }
    .container .nav-size .home .nav .navbar-nav .nav-item{
        font-weight: 250; font-size: 7px; padding: 36px 0px; 
    }
    .container .nav-size .home .nav .navbar-nav .nav-item .nav-link{
        display: inline;
    }
    .container .nav-size .home .nav .navbar-nav .nav-item .nav-btn{
        font-size: 5px; padding: 4px 2px; 
    }
    .container .nav-size .home .main-content {
        padding-right: 160px; padding: 96px 194px 96px 68px;
    }
    .container .nav-size .home .main-content h1{
        font-weight: 300; font-size: 33px; line-height: 1; padding-bottom: 9px;
    }
    .container .nav-size .home .main-content h1 span{
        font-weight: 450; font-size: 33px; line-height: 18%;
    }
    .container .nav-size .home .main-content p{
        font-weight: 220; font-size: 9px; line-height: 14px; padding-bottom: 14px;
    }
    .container .nav-size .home .main-content button{
        font-weight: 280; font-size: 8px; line-height: 50%; padding: 12px 18px;
    }


    .container-wh .who{
        flex-direction: column; gap: 30px; padding-bottom: 60px; padding-left: 68px;
    }

    .container-wh .who .wh-img{
        gap: 28px; max-width: 575px; justify-content: center;
    }
    .container-wh .who .wh-img .ip1{
        padding-top: 54px;
    }
    .container-wh .who .wh-img .ip1 img{
        max-width: 160px; 
    }
    .container-wh .who .wh-img .ip2{
        max-width: 160px;
        gap: 25px;
    }
    .container-wh .who .wh-img .ip2 .blue-box .aero{
        margin: 14px 14px 9px 136px;
    }
    .container-wh .who .wh-img .ip2 .blue-box{
        gap: 12px;
    }
    .container-wh .who .wh-img .ip2 .blue-box .box-content{
        margin: 4px 18px 18px 18px;
        gap: 3px;
    }
    .container-wh .who .wh-img .ip2 .blue-box .box-content h4{
        font-weight: 300; font-size: 15px; line-height: 100%;
    }
    .container-wh .who .wh-img .ip2 .blue-box .box-content p{
        font-weight: 188; font-size: 12px; line-height: 11px;
    }

    .container-wh .who .wh-content{
        gap: 13px;
    }
    .container-wh .who .wh-content .main-cont h2 {
        font-weight: 300; font-size: 22px;
    }
    .container-wh .who .wh-content .main-cont h2 span{
        font-weight: 450; font-size: 22px;
    }
    .container-wh .who .wh-content .main-cont p{
        font-weight: 180; font-size: 9px; line-height: 10px; padding-top: 10px;
    }
    .container-wh .who .wh-content .wh-cont h5{
        font-weight: 300; font-size: 11px; line-height: 15px;
    }
    .container-wh .who .wh-content .wh-cont ul li{
        font-weight: 180; font-size: 9px; line-height: 11px;
    }


    .s-container .services{
        padding: 96px 68px;
    }
    .s-container .services .text-serv{
        flex-wrap: wrap; max-width: 333px; margin: 0 auto;
    }


    .w-container .why{
        padding: 96px 68px;
    }
    .w-container .why .i-why .i-back{
        gap: 32px;
    }
    .w-container .why .i-why{
        max-width: 512px; margin-top: 1px; margin: 0 auto;
    }
    .w-container .why .i-why .i-back .i-log{
        max-width: 105px; margin-left: 28px; margin-top: 48px;
    }
    .w-container .why .i-why .i-back .i-pe{
        max-width: 212px; margin-right: 0px;
    }
    .w-container .why .i-why .ip-col{
        margin-top: -142px;
    }
    .w-container .why .i-why img{
        max-width: 211px;
    }


    .l-container .cent-cont{
        padding: 76px 68px;
    }

    .l-container .cent-cont .info-cont h2{
        font-size: 23px; line-height: 85%;
    }
    .l-container .cent-cont .info-cont h2 span{
        font-size: 23px; line-height: 85%;
    }
    .l-container .cent-cont .info-cont p{
        font-size: 9px; line-height: 11px; padding-top: 6px; padding-bottom: 7px;
    }
    .l-container .cent-cont .btn-cont button{
        padding: 5px 10px; font-size: 8px;
    }
    .l-container .cent-cont .btn-cont .cons{
        margin-left: 0; 
    }
    .l-container .cent-cont .btn-cont .cont{
        margin-left: 10px; 
    }

    .f-container .f-info-cont{
        margin: 0 auto;
    }
    .f-container .f-info-cont .fi-up-cont{
        gap: 28px;
    }
    .f-container .f-info-cont .fi-up-cont{
        flex-direction: column;        
    }
    .f-container .f-info-cont .fi-up-cont .fr-container{
        flex-wrap: wrap; gap: 12px; justify-content:flex-start;
    }

    .f-foot img{
        padding-top: 15px;
    }
    .f-foot .f-f{
        padding: 8px 68px;
    }
    .f-foot .f-f .ff-1{
        font-size: 6px; line-height: 9px;
    }
    .f-foot .f-f .ff-2{
        font-size: 6px; line-height: 9px; gap: 9px;
    }
}   


@media (max-width: 512px){
    .up-container .contact-info{
        font-weight: 250; font-size: 5px; margin: 7px 0; padding-left: 40px;
    }
    .up-container .contact-info .contact-details img{
        max-width: 8px; max-height: 8px;
    }
    .up-container .contact-info .up-space{
        margin: 0 8px;
    }


    .container .nav-size .home .nav{
        max-height: 105px; padding: 18px 40px; flex-direction: row; justify-content: flex-start; gap: 12px;
    }
    .container .nav-size .home .nav img{
        max-width: 72px; max-height: 76px;
    }
    .container .nav-size .home .nav .navbar-nav{
        gap: 5px; flex-direction: row; 
    }
    .container .nav-size .home .nav .navbar-nav .nav-item{
        font-weight: 250; font-size: 6px; padding-top: 12px; padding-bottom: 0px;
    }
    .container .nav-size .home .nav .navbar-nav .nav-item .nav-link{
        display: inline-block;
    }
    .container .nav-size .home .nav .navbar-nav .nav-si{
        padding-top: 7px; padding-bottom: 4px; 
    }
    .container .nav-size .home .nav .navbar-nav .nav-item .nav-btn{
        font-size: 5px; padding: 5px 3px;
    }

    .container .nav-size .home .main-content {
        padding-right: 160px; padding: 68px 174px 68px 40px;
    }
    .container .nav-size .home .main-content h1{
        font-weight: 300; font-size: 27px; line-height: 1; padding-bottom: 5px;
    }
    .container .nav-size .home .main-content h1 span{
        font-weight: 450; font-size: 27px; line-height: 15%;
    }
    .container .nav-size .home .main-content p{
        font-weight: 220; font-size: 7px; line-height: 8px; padding-bottom: 6px;
    }
    .container .nav-size .home .main-content button{
        font-weight: 280; font-size: 7px; line-height: 35%; padding: 9px 14 px;
    }


    .container-wh .who{
        gap: 1px; padding: 60px 40px; margin: 0 auto;
    }

    .container-wh .who .wh-img{
        gap: 15px; max-width: 325px; margin: 0 auto;
    } 
    .container-wh .who .wh-img .ip1{
        padding-top: 54px;
    }
    .container-wh .who .wh-img .ip1 img{
        max-width: 115px; 
    }
    .container-wh .who .wh-img .ip2{
        max-width: 115px;
        gap: 15px;
    }
    .container-wh .who .wh-img .ip2 .blue-box .aero{
        margin: 11px 11px 8px 92px;
    }
    .container-wh .who .wh-img .ip2 .blue-box{
        gap: 10px;
    }
    .container-wh .who .wh-img .ip2 .blue-box .box-content{
        margin: 3px 12px 12px 12px;
        gap: 3px;
    }
    .container-wh .who .wh-img .ip2 .blue-box .box-content h4{
        font-weight: 300; font-size: 12px; line-height: 100%;
    }
    .container-wh .who .wh-img .ip2 .blue-box .box-content p{
        font-weight: 188; font-size: 9px; line-height: 10px;
    }

    .s-container .services{
        padding: 68px 40px; gap: 10px;
    }
    .s-container .services .text-serv{
        max-width: 262px; margin: 0 auto;
    }
    .s-container .services .main-serv h2{
        font-size: 22px; line-height: 88%;
    }
    .s-container .services .main-serv h2 span{
        font-size: 22px; line-height: 88%;
    }
    .s-container .services .main-serv p{
        font-size: 8px; line-height: 11px;
    }

    .w-container .why{
        padding: 68px 40px;
    }
    .w-container .why .i-why .i-back{
        gap: 12px;
    }
    .w-container .why .i-why{
        max-width: 325px; margin: 0 auto;
    }
    .w-container .why .i-why .i-back .i-log{
        max-width: 65px; margin-left: 10px; margin-top: 22px; 
    }
    .w-container .why .i-why .i-back .i-pe{
        max-width: 102px; 
    }
    .w-container .why .i-why .ip-col{
        margin-top: -63px; margin-left: 0px;
    }
    .w-container .why .i-why img{
        max-width: 103px;
    }


    .l-container .cent-cont{
        padding: 68px 40px; margin: 0 auto;
    }

    .l-container .cent-cont .info-cont h2{
        font-size: 18px; line-height: 85%;
    }
    .l-container .cent-cont .info-cont h2 span{
        font-size: 18px; line-height: 85%;
    }
    .l-container .cent-cont .info-cont p{
        font-size: 7px; line-height: 9px; padding-top: 5px; padding-bottom: 6px;
    }
    .l-container .cent-cont .btn-cont button{
        padding: 4px 8px; font-size: 7px;
    }
    .l-container .cent-cont .btn-cont .cons{
        margin-left: 0; 
    }
    .l-container .cent-cont .btn-cont .cont{
        margin-left: 6px; 
    }


    .f-foot .f-f{
        padding: 6px 40px;
    }
    .f-container .f-info-cont{
        margin: 0 auto;
    }
}