*{
    margin: 0; padding: 0; box-sizing: border-box;
}

.main{
    margin: 0; padding: 0; overflow-x: hidden;
}

.up-container{
    margin: 0 auto;
}

.up-container .contact-info{
    display: flex; max-height: 22px; font-family: 'Manrope', sans-serif; font-weight: 500; color: #4F4F4F; font-size: 16px; line-height: 100%; letter-spacing: 0; padding-left: 96px; margin: 20px 0;
}

.up-container .contact-info .up-space{
    margin: 0 24px; align-content: center; max-height: 100%;
}

.up-container .contact-info .contact-details{
    display: flex; gap: 10px;
}

.up-container .contact-info .contact-details p{
    align-content: center;
}

.container{
    margin: 0; max-width: 100%; padding: 0; 
}

.container .nav-size{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.1) 70%), url(/images/home_bg.jpg); background-size: cover; background-position: center;
}

.container .nav-size .home .nav{
    display: flex; justify-content: space-between; padding: 20px 96px; 
}

.container .nav-size .home .nav .navbar-nav{
    gap: 32px;
}

.container .nav-size .home .nav .navbar-nav .nav-item{
    font-family: 'Manrope', sans-serif; font-weight: 500; color: #4F4F4F; font-size: 16px; line-height: 100%; letter-spacing: 0; color: rgba(255, 255, 255, 1); 
}

.container .nav-size .home .nav .navbar-nav .nav-item:hover{
    color: rgba(29, 128, 176, 1);
}

.container .nav-size .home .nav .navbar-nav .nav-item .show{
    color: rgba(29, 128, 176, 1);
}

.container .nav-size .home .nav .navbar-nav .nav-item .dropdown-menu{
    background-color: transparent;
}
 
.container .nav-size .home .nav .navbar-nav .nav-item .dropdown-menu .dropdown-item{
    color: rgba(255, 255, 255, 1);
}

.container .nav-size .home .nav .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover{
    color: rgba(29, 128, 176, 1); background-color: rgba(255, 255, 255, 1);
}

.container .nav-size .home .nav .navbar-nav .nav-siz{
    padding: 60px 0;
}

.container .nav-size .home .nav .navbar-nav .nav-si{
    padding: 44px 0;
}

.container .nav-size .home .nav .navbar-nav .nav-item .nav-btn{
    padding: 16px 24px; background-color: rgba(29, 128, 176, 1); border-style: none; font-family: 'Manrope', sans-serif; font-weight: 500; font-size: 16px; line-height: 100%; letter-spacing: 0; color: rgba(255, 255, 255, 1);
}

.container .nav-size .home .nav .navbar-nav .nav-item .nav-btn:hover{
    color: rgba(29, 128, 176, 1); background-color: rgba(255, 255, 255, 1);
}

.container .nav-size .home .main-content{
    padding: 103px 974px 163px 96px; 
}

.container .nav-size .home .main-content h1{
    font-family: 'Manrope', sans-serif; font-weight: 500; font-size: 86px; line-height: 1.291; letter-spacing: 0; color: rgba(255, 255, 255, 1);  padding-bottom: 24px; margin: 0;
}

.container .nav-size .home .main-content h1 span{
    font-family: 'Manrope', sans-serif; font-weight: 800; font-size: 86px; line-height: 100%; letter-spacing: 0; color: rgba(255, 255, 255, 1); word-spacing: 9px; padding-top: 18px;
} 

.container .nav-size .home .main-content p{
    font-family: 'Manrope', sans-serif; font-weight: 400; font-size: 20px; line-height: 36px; letter-spacing: 0; color: rgba(255, 255, 255, 1); padding-bottom: 44px;
}

.container .nav-size .home .main-content button{
    font-family: 'Manrope', sans-serif; font-weight: 500; font-size: 16px; line-height: 100%; letter-spacing: 0;   border-style: none; background-color: rgba(29, 128, 176, 1); color: rgba(255, 255, 255, 1); padding: 16px 24px; background-color: rgba(29, 128, 176, 1); border-radius: 0;
}

.container .nav-size .home .main-content button:hover{
    color: rgba(29, 128, 176, 1); background-color: rgba(255, 255, 255, 1);
}

.container-wh{
    margin: 0 auto;
}

.container-wh .who{
    display: flex; gap: 64px; padding: 96px; background-color: rgba(255, 255, 255, 1);
} 

.container-wh .who .wh-img{
    display: flex; gap: 40px;
}

.container-wh .who .wh-img .ip1{
    /* top: 100px; */ padding-top: 100px; padding-bottom: 100px;
}

.container-wh .who .wh-img .ip2 .blue-box .aero{
    margin: 32px 32px 12px 328px; 
}

.container-wh .who .wh-img .ip2 .blue-box{
    background-color: rgba(29, 128, 176, 1); color: rgba(255, 255, 255, 1); display: flex; flex-direction: column; gap: 65px;
} 

.container-wh .who .wh-img .ip2 .blue-box .box-content{
    margin: 8px 24px 24px 24px; font-family: 'Manrope', sans-serif; letter-spacing: 0; padding: 0; display: flex; flex-direction: column; gap: 8px;
}

.container-wh .who .wh-img .ip2 .blue-box .box-content h5{
    font-weight: 600; font-size: 30px; line-height: 100%; margin-bottom: 0px;
}

.container-wh .who .wh-img .ip2 .blue-box .box-content p{
    font-weight: 400; font-size: 16px; line-height: 26px; margin-bottom: 0px;
}

.container-wh .who .wh-img .ip2{
    display: flex; flex-direction: column; gap: 40px;
}

.container-wh .who .wh-content{
    display: flex; gap: 44px; flex-direction: column; font-family: 'Manrope', sans-serif; letter-spacing: 0; padding: 47px 0px 3px 0px;
}

.container-wh .who .wh-content .main-cont h2{
    font-weight: 500; font-size: 54px; line-height: 100%; margin-bottom: 0px;
}

.container-wh .who .wh-content .main-cont h2 span{
    font-weight: 700; font-size: 54px; line-height: 100%; color: rgba(29, 128, 176, 1);
}

.container-wh .who .wh-content .main-cont p{
    font-weight: 400; font-size: 20px; line-height: 36px; padding-top: 24px; margin-bottom: 0px;
}

.container-wh .who .wh-content .wh-cont h5{
    font-weight: 700; font-size: 24px; line-height: 36px; color: rgba(0, 0, 0, 1); margin-bottom: 0px;
}    

.container-wh .who .wh-content .wh-cont ul li{
    font-weight: 400px; font-size: 20px; line-height: 36px; color: rgba(77, 77, 77, 1); margin-bottom: 0px;
}

.container-wh .who .wh-content .wh-cont ul{
    margin: 0px;
}

.s-container{
    max-width: 100%; margin: 0 auto;
}

.s-container .services{
    background-color: rgba(245, 245, 245, 1); padding: 96px 200px; display: flex; flex-direction: column; gap: 64px;
}

.s-container .services .main-serv{
    text-align: center; 
}

.s-container .services .main-serv h2{
    font-family: 'Manrope', sans-serif; letter-spacing: 0%; font-weight: 500px; font-size: 54px; line-height: 100%; margin: 0px;
}

.s-container .services .main-serv h2 span{
    font-family: 'Manrope', sans-serif; letter-spacing: 0%; font-weight: bold; font-size: 54px; line-height: 100%; color: rgba(29, 128, 176, 1);
}

.s-container .services .main-serv p{
    font-family: 'Manrope', sans-serif; letter-spacing: 0%; font-weight: 400px; font-size: 20px; line-height: 36px; padding-top: 16px;
}

.s-container .services .text-serv .ts-box .hco{
    font-family: 'Manrope', sans-serif; letter-spacing: 0%; font-weight: bold; font-size: 20px; line-height: 36px; padding-top: 16px; padding-bottom: 4px;
}

.s-container .services .text-serv .ts-box p{
    font-family: 'Manrope', sans-serif; letter-spacing: 0%; font-weight: 400px; font-size: 16px; line-height: 24px; padding-bottom: 16px; color: rgba(77, 77, 77, 1);
}

.s-container .services .text-serv .ts-box button{
    border-style: none; color: rgba(29, 128, 176, 1); background-color: transparent;
}

.s-container .services .text-serv .ts-box button:hover{
    font-weight: 500;
}

.s-container .services .text-serv{
    display: flex; text-align: center; gap: 32px; font-family: 'Manrope', sans-serif; letter-spacing: 0;
}

.s-container .services .text-serv .ts-box{
    width: 100%;
}

.s-container .services .text-serv .ts-box h5,p{
    margin: 0px;
}

.w-container{
    max-width: 100%; margin: 0 auto;
}

.w-container .why{
    display: flex; gap: 64px; padding: 96px; font-family: 'Manrope', sans-serif; letter-spacing: 0; background-color: rgba(255, 255, 255, 1);
}

.w-container .why .t-why{
    display: flex; flex-direction: column; gap: 32px; padding: 55px 0 0 0;
}

.w-container .why .t-why .tw-head h2{
    font-weight: 500px; font-size: 54px; line-height: 100%; 
}

.w-container .why .t-why .tw-head h2 span{
    font-weight: bold; font-size: 54px; line-height: 100%; color: rgba(29, 128, 176, 1); 
}

.w-container .why .t-why .tw-head p{
    font-weight: 400px; font-size: 20px; line-height: 36px; padding-top: 24px; color: rgba(77, 77, 77, 1);
}

.w-container .why .t-why .tw-body .accordion-item{
    border-style: none;
}

.w-container .why .t-why .tw-body .accordion-item .accordion-header .accordion-button{
    box-shadow: none; background-color: transparent; color: rgba(0, 0, 0, 1); padding-left: 0px;
}

.w-container .why .t-why .tw-body .accordion-item h2{
    font-family: 'Manrope', sans-serif; letter-spacing: 0; font-weight: bold; font-size: 20px; line-height: 30px; color: rgba(0, 0, 0, 1);
}

.w-container .why .t-why .tw-body .accordion-item .collapse .accordion-body{
    font-weight: 400px; font-size: 20px; line-height: 30px; color: rgba(77, 77, 77, 1); padding: 0px;
}

.w-container .why .t-why .tw-end button{
    background-color: rgba(29, 128, 176, 1); padding: 16px 24px; border-style: none; max-height: 54px; color: rgba(255, 255, 255, 1);
}

.w-container .why .t-why .tw-end button:hover{
    background-color: rgba(255, 255, 255, 1); color: rgba(29, 128, 176, 1); border: 2px solid rgba(29, 128, 176, 1); padding: 16px 24px;
}

.w-container .why .i-why .i-back{
    display: flex; gap: 50px;
}

.w-container .why .i-why .i-log{
    height: 100%; margin-top: 100px; margin-left: 45px;
}

.w-container .why .i-why .ip-col{
    margin-top: -300px;
}

.l-container{
    max-width: 100%; margin: 0 auto;
}

.l-container .cent-cont{
    padding: 96px 400px; text-align: center; background-color: rgba(29, 128, 176, 1); color: rgba(255, 255, 255, 1);
}

.l-container .cent-cont .info-cont h2{
    margin: 0; font-family: 'Manrope', sans-serif; letter-spacing: 0; font-weight: 500; font-size: 54px; line-height: 100%;
}

.l-container .cent-cont .info-cont h2 span{
    font-family: 'Manrope', sans-serif; letter-spacing: 0; font-weight: bold; font-size: 54px; line-height: 100%;
}

.l-container .cent-cont .info-cont p{
    font-family: 'Manrope', sans-serif; letter-spacing: 0; font-weight: 400; font-size: 20px; line-height: 36px; padding-top: 16px; padding-bottom: 44px;
}

.l-container .cent-cont .btn-cont button{
    padding: 16px 44px; margin-left: 32px;
}

.l-container .cent-cont .btn-cont .cons{
    color: rgba(29, 128, 176, 1); border-style: none; background-color: rgba(255, 255, 255, 1);
}

.l-container .cent-cont .btn-cont .cons:hover{
    color: rgba(255, 255, 255, 1); background-color: transparent; border-color: rgba(255, 255, 255, 1); border-style: solid;
}

.l-container .cent-cont .btn-cont .cont{
    color: rgba(255, 255, 255, 1); background-color: transparent; border-color: rgba(255, 255, 255, 1); border-style: solid; 
}

.l-container .cent-cont .btn-cont .cont:hover{
    color: rgba(29, 128, 176, 1); border-style: none; background-color: rgba(255, 255, 255, 1);
}

.f-container{
    max-width: 100%; margin: 0 auto;
}

.f-container .f-info-cont{
    background-color: rgba(34, 34, 34, 1); 
}

.f-container .f-info-cont .fi-up-cont{
    display: flex; gap: 104px; margin: 0px 96px 85px 96px; padding-top: 64px;
}

.f-container .f-info-cont .fi-up-cont .fl-container .f-log{
    margin-bottom: 44px;
}

.f-container .f-info-cont .fi-up-cont .fl-container .fl-social{
    display: flex; gap: 20px; margin-bottom: 44px;
}

.f-container .f-info-cont .fi-up-cont .fl-container .fl-social:hover{
    cursor: pointer;
}

.f-container .f-info-cont .fi-up-cont .fl-container .ff-line{
    margin-bottom: 16px;
}

.f-container .f-info-cont .fi-up-cont .fl-container h6{
    color: rgba(255, 255, 255, 1); font-family: 'Manrope', sans-serif; letter-spacing: 0; font-weight: 700; font-size: 16px; line-height: 100%; margin: 0;
}

.f-container .f-info-cont .fi-up-cont .fl-container .fl-det{
    padding-top: 24px;
}

.f-container .f-info-cont .fi-up-cont .fl-container .fl-det .det-1{
    color: rgba(255, 255, 255, 1); display: flex; gap: 10px; padding-bottom: 24px; font-family: 'Manrope', sans-serif; letter-spacing: 0; font-weight: 500; font-size: 16px; line-height: 1.4;
}

.f-container .f-info-cont .fi-up-cont .fl-container .fl-det .det-1 p:hover{
    cursor: pointer; color: rgba(29, 128, 176, 1);
}

.f-container .f-info-cont .fi-up-cont .fl-container .fl-det .det-1 img{
    color: rgba(255, 255, 255, 1); display: flex; gap: 10px;
}

.f-container .f-info-cont .fi-up-cont .fl-container .fl-det .det-2{
    color: rgba(255, 255, 255, 1); display: flex; gap: 10px; font-family: 'Manrope', sans-serif; letter-spacing: 0; font-weight: 500; font-size: 16px; line-height: 1.4;
}

.f-container .f-info-cont .fi-up-cont .fl-container .fl-det .det-2:hover{
    cursor: pointer; color: rgba(29, 128, 176, 1);
}

.f-container .f-info-cont .fi-up-cont .fl-container .fl-det .det-2 img{
    color: rgba(255, 255, 255, 1); display: flex; gap: 10px; padding-bottom: 22px;
}

.f-container .f-info-cont .fi-up-cont .fr-container{
    padding-bottom: 7px; display: flex; gap: 48px; color: rgba(255, 255, 255, 1);
}

.f-container .f-info-cont .fi-up-cont .fr-container .frp h6{
    margin: 0; padding-bottom: 16px; font-family: 'Manrope', sans-serif; letter-spacing: 0; font-weight: 700; font-size: 18px; line-height: 24px;
}

.f-container .f-info-cont .fi-up-cont .fr-container .frp img{
    padding-bottom: 24px;
}

.f-container .f-info-cont .fi-up-cont .fr-container .frp .fld-9{
    padding-bottom: 20px; font-family: 'Manrope', sans-serif; letter-spacing: 0; font-weight: 400; font-size: 16px; line-height: 156%;
}

.f-container .f-info-cont .fi-up-cont .fr-container .frp .fld-9:hover{
    color: rgba(29, 128, 176, 1); cursor: pointer;
}

.f-container .f-info-cont .fi-up-cont .fr-container .frl4 img{
    padding-bottom: 32px;
}

.f-container .f-info-cont .fi-up-cont .fr-container .frp p{
    font-family: 'Manrope', sans-serif; letter-spacing: 0; font-weight: 400; font-size: 16px; line-height: 156%;
}

.f-container .f-info-cont .fi-up-cont .fr-container .frp p:last-child{
    font-family: 'Manrope', sans-serif; letter-spacing: 0; font-weight: 400; font-size: 16px; line-height: 156%;
}

.f-container .f-info-cont .fi-up-cont .fr-container .frp p:last-child:hover{
    color: rgba(29, 128, 176, 1); cursor: pointer;
}

.f-foot .f-f{
    display: flex; color: rgba(136, 136, 136, 1); justify-content: space-between; padding: 24px 96px; 
}

.f-foot .f-f .ff-1{
    font-family: 'Manrope', sans-serif; letter-spacing: 0; font-weight: 400; font-size: 16px; line-height: 24px;
}

.f-foot .f-f .ff-1 p span{
    color: rgba(255, 255, 255, 1);
}

.f-foot .f-f .ff-2{
    display: flex; gap: 24px;
}

.f-foot .f-f .ff-2 p a{
    color: rgba(136, 136, 136, 1); text-decoration: none;
}

.f-foot .f-f .ff-2 p a:hover{
    color: rgba(29, 128, 176, 1); text-decoration: underline;
}